<div class="col-12">
    <div class="card">
        <h5>Recharger mon compte (Solde actuelle: 1000 Ar)</h5>
        <br>
        <div class="p-fluid p-formgrid grid">
            <form>
                <div class="field col-12">
                    <span class="p-float-label">
                        <input pInputText id="montant" [(ngModel)]="montant" required>
                        <label for="montant">Montant</label>
                    </span>
                </div>
                <div class="field col-12">
                    <button pButton pRipple label="Valider" class="p-button-success" type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>