<div class="col-8" style="float: left;">
    
    <p-table [value]="depenses" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Dépenses du mois
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Type</th>
                <th>Montant</th>
                <th>Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-depense>
            <tr>
                <td>{{depense.type}}</td>
                <td>{{depense.montant | currency:'Ar '}}</td>
                <td>{{depense.date | date:'yyyy-MM-dd'}}</td>
                <td>
                    <button pbutton="" pripple="" type="button" icon="pi pi-search" class="p-element p-ripple p-button-rounded p-button p-component p-button-icon-only">
                        <span class="p-button-icon pi pi-pencil" aria-hidden="true"></span><span class="p-ink" aria-hidden="true" role="presentation"></span>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<div class="col-4" style="text-align:center; float: right;">
    <div class="card">
        <h5>Nouvelle dépense</h5>
        <div class="p-fluid p-formgrid grid">
            <form (ngSubmit) = "AjoutDepense()">
                <div class="field col-12">
                    <span class="p-float-label">
                        <p-dropdown [options]="types" [(ngModel)]="depense.type"  placeholder="Type" optionLabel="name" inputId="float-label" optionValue="name" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        <label for="float-label">Type</label>
                    </span>
                </div>
                <div class="field col-12">
                    <span class="p-float-label">
                        <input pInputText id="montant" [(ngModel)]="depense.montant" name="montant" [ngModelOptions]="{standalone: true}" required>
                        <label for="montant">Montant</label>
                    </span>
                </div>
                <div class="field col-12">
                    <p-calendar [(ngModel)]="depense.date" [iconDisplay]="'input'" name="date" [ngModelOptions]="{standalone: true}" [showIcon]="true"></p-calendar>
                </div>
                <div class="field col-12">
                    <button pButton pRipple label="Insérer" class="p-button-success" type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>
